{% extends 'prison_break_app/base.html'%}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_block %}
        
<style>
  /* Small amount of inline css to style 404 error message */
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
</style>
{% endblock %}
{% block title_block %}
Page not found
{% endblock %}

{% block body_block %}
 <!-- Creats a 404 error message -->
<div class="header">
    <h1>Uh Oh...</h1>
    <p>This page doesnt exist. (404 Error)</p>
</div>

{% endblock %}