{% extends 'prison_break_app/base.html'%}
{% load static %}
{% block title_block %}

About
{% endblock %}

{% block body_block %}
<link rel="stylesheet"  href="{% static "css/about.css" %}" type="text/css"></link>
<div class="row">
    <div class="col-sm-6">
        <h1>About</h1>
        <p id="about">Prison break is a game created by Mark Harris, Andrew Parker Calum Macphee and Hector Jones. It was created for our 2nd year university project, for a web application course.
            There is only one objective in the game, to escape. You must do whatever it takes, and take advantage of all of your chosen characters skills to ensure a successful break out. Throughout the game you may find items, these are key components to your escape, and without them you will fail.
        The game also tracks your score, depending on how many rooms you go through to escape, how many special items you collect and how quickly you escape, the players with the highest scores will be shown on our leaderboard.</p>
    </div>

    <div class="col-sm-6">
        <h1>FAQ</h1>
        <ul id="FAQ">
            <li><h3>What languages where used to create the web app?</h3><p>html, css, javascript, JQuery(Ajax), django, python</p></li>
            <li><h3>How do i play?</h3><p>To play you can just head to the home page and click the "Play game" button. Note: You must be logged in to play.</p></li>
            <li><h3>Does the game work on mobile devices?</h3><p>As the game is built using alot of javascript which isnt well supported by mobile devices, it is unfoturnately only usable on desktop/laptop environments. The rest of the site is fully mobile friendly.</p></li>
            <li><h3>Can I login with a social account?</h3><p>Currently we support logging in with google. Just click on the login with google button on either the register or login page. Logging in with google will create an automatic username based on the name on your account. This can be changed at any point from the profile section.</p></li>
            <li><h3>Is my data safe?</h3><p>Yes your data is safe and will not be used for any other purposes apart from use within the site. We only collect data that is absoloutely necessary to run the site when you sign up. Full details can be found in the privacy policy.</p></li>
            <li><h3>Can I edit/delete my account?</h3><p>Yes, you can edit profile details such as your username and email in the profile section. There is also button that allows you to permanently delete your account.</p></li>
        </ul>
    </div>
</div>
{% endblock %}