{% load static %}
<!DOCTYPE html>

<html>
    <head lang="eng">
      
        
       <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
        
        <link rel="stylesheet"  href="{% static "css/main.css" %}" type="text/css"></link>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="{% static "js/jquery-3.4.1.js" %}" crossorigin="anonymous"></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
        {% block head_block %}
        {% endblock %}
        
        <title>
            {% block title_block %}
            Prison Break game
            {% endblock %}
        </title>
        
    </head>

    <body>
      
    
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div>
          <nav class="navbar navbar-expand-lg navbar navbar-light">
            <a class="navbar-brand" href="/"><img src="{% static "images/PBlogo.png" %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </a>
                </li>
               
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'prison_break_app:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'prison_break_app:signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'prison_break_app:login' %}">Login</a>
                </li>
                {% endif %}
              
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'prison_break_app:about' %}">About</a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'prison_break_app:leaderboard' %}">Leaderboards</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                {% if user.userprofile.picture %}
                <a class="nav-link" href="{% url 'prison_break_app:profile' %}">Profile: <img src="{{ user.userprofile.picture.url }}" width="35" height="35"></a>
              
                {% else %}
                <a class="nav-link" href="{% url 'prison_break_app:profile' %}">Profile: {{ user }}</a>
                
                {% endif %}
              </li>
            {% endif %}
              
              </ul>
            </div>
          </nav>
          </div>
          <div id="background">
          <style>
            #background{
              background-image:url('{% static "images/background.jpg" %}');
             
              height: 100vh;
              width: 100vw;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              max-width:100%;
            
            }
          </style>
         
          <div id="content">
           
          
        {% block body_block %}
        
        {% endblock %}
      </div>
    </div>

    
    </body>
    {% block outsidebody %}
    {% endblock %}

</html>