{% extends 'prison_break_app/base.html'%}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title_block %}
Login
{% endblock %}

{% block body_block %}

<link rel="stylesheet"  href="{% static "css/signup.css" %}" type="text/css"></link>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form class="form-signin" method="POST" action="{% url 'prison_break_app:signin' %}">
                {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="inputUsername" name="Username" class="form-control" placeholder="Username"  required autofocus>
                <label for="inputUserame">Username</label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <hr class="my-4">
              <a href="{% provider_login_url "google" %}" class="btn btn-primary">Go to Google</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}