{% extends 'prison_break_app/base.html'%}
{% load static %}
{% block head_block %}
<link rel="stylesheet"  href="{% static "css/signup.css" %}" type="text/css"></link>
{% endblock %}

{% block title_block %}
Sign up

{% endblock %}

{% block body_block %}

<script>
  window.onload = function() {
 // add your code change here
    $("#inputUsername").change(function(data){
      var username = $(this).val();
      


      $.ajax({
        url: '{% url "prison_break_app:validate_username" %}',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            $('#inputUsername')[0].setCustomValidity('Username already taken');

          }
          else{
            $('#inputUsername')[0].setCustomValidity('');
          }
        }
      });
    });


}


  </script>


  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" method="POST" enctype="multipart/form-data" action="{% url 'prison_break_app:register' %}">
                {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="inputUsername" name="Username" class="form-control" placeholder="Username" maxlength="35" required autofocus>
                <label for="inputUserame">Username</label>
              </div>
              

              <div class="form-label-group">
                <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div>
              <script src="{% static "js/passwordvalidator.js" %}"></script>
              <div class="form-label-group">
                <input type="file" id=fileUpload name="profilepic" class="form-control" placeholder="Profile Picture" accept="image/*">
                <label for="fileUpload">Profile Picture (Square image reccomended)</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" id="thesubmit" type="submit">Register</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" value="POST"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
