{% extends 'prison_break_app/base.html'%}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_block %}
<!-- Impors the main stylesheet for the page -->
<link rel="stylesheet"  href="{% static "css/signup.css" %}" type="text/css"></link>
<style>
  .card-signin .card-img-left {
  background: scroll center url('{% static "images/prison.jpg" %}');
  background-size: cover;
  /* Inline css to load static image like in login page */
  }
</style>
{% endblock %}

{% block title_block %}
Sign up

{% endblock %}

{% block body_block %}

<script>
  /* inline javascript to check username is unique using Ajax querys, had issues when trying to do external scripts */
  window.onload = function() {
    $("#inputUsername").change(function(data){
      var username = $(this).val();
      


      $.ajax({
        url: '{% url "prison_break_app:validate_username" %}',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          /* Checks if the usernames been used and sets the input box validity based on this */
          $('#inputUsername')[0].setCustomValidity('');
          if (data.is_taken) {
            $('#inputUsername')[0].setCustomValidity('Username already taken');

          }
          else{
            $('#inputUsername')[0].setCustomValidity('');
          }
        }
      });
    });


}
  



  </script>


  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set at the top of the page -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <!-- Creates the form and labels for each field -->
            <form class="form-signin" method="POST" enctype="multipart/form-data" action="{% url 'prison_break_app:register' %}">
                {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="inputUsername" name="Username" class="form-control" placeholder="Username" maxlength="35" required autofocus>
                <label for="inputUserame">Username</label>
              </div>
              

              <div class="form-label-group">
                <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div>
              <!-- Javascript for validating the password -->
              <script src="{% static "js/passwordvalidator.js" %}"></script>
              <div class="form-label-group">
                <input type="file" id=fileUpload name="profilepic" class="form-control" placeholder="Profile Picture" accept="image/*">
                <label for="fileUpload">Profile Picture (Square image reccomended)</label>
              </div>
              <div class="form-label-group">
                <input type="checkbox" id=toscheckbox name="tos" class="form-control"  required>
                <label for="toscheckbox" id="toslabel">You agree to our <a href="{% url 'prison_break_app:terms' %}" >terms of service </a> and <a href="{% url 'prison_break_app:privacy' %}" >privacy policy</a></label>
              </div>

              

              <button class="btn btn-lg btn-primary btn-block text-uppercase" id="thesubmit" type="submit">Register</button>
              <!-- Creates register and login with google buttons -->
              <hr class="my-4">
              <a href="{% provider_login_url "google" %}" class="btn btn-primary">Login with Google</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
