
*
{
    margin: 0;
    padding: 0;
}

#background{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
          
    overflow-x: hidden;
    max-width:100%;
    min-height: 100vh;
        
}

body
{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    
}
#content{
    text-align:left;
    backdrop-filter: blur(6px);
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
  }

  

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #660303, #ff1f1f);
    padding: 0 !important;
    
}

.navbar-nav li {
    padding: 0 10px;
    

}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 650;
    

}

.fa-bars {
    color:#fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}